@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-stone-900 text-yellow-50/90 antialiased;
  }
}

code {
  white-space: pre-wrap !important;
  /* background: grey;  */
}
